<h1> New Passage </h1>

<%= form_for :passage, url: passages_path do |p| %>
  <p>
    <%= p.label :prompt %><br>
    <%= p.text_field :prompt %>
  </p>
 
  <p>
    <%= p.label :content %><br>
    <%= p.text_area :content %>
  </p>
 
  <p>
    <%= p.submit %>
  </p>
<% end %>
